$base-font-size: 1rem; //14px;
$base-line-height: 21px;

@font-face {
	font-family: 'Neue Machina';
	src:url('../fonts/NeueMachina-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} 
@mixin neuemachina {
    font-family: 'Neue Machina';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$heading-font: "Montserrat","Libre Baskerville","Raleway","Open Sans","Source Code Pro","Abril Fatface","Permanent Marker", "Neue Machina", sans-serif;
$body-font: "Raleway", sans-serif;//"Noto Sans", sans-serif; "Montserrat",

$spacing-s: .25 * $base-line-height;
$spacing-m: .5 * $base-line-height;
$spacing-l: $base-line-height;

$border-gray: #eee;
$blue: #6F0FFF;//#3e8bff;
$lightpurple:#a15dff;
$hotpink: #FF03A2;
$pink: #F11FFF;
$purple: #6F0FFF;
$green: #1CFFC7;
$yellow: #FFF612;