$base-font-size: 1rem; //14px;
$base-line-height: 21px;

$heading-font: "Montserrat", sans-serif;
$body-font: "Raleway", sans-serif;

$spacing-s: .25 * $base-line-height;
$spacing-m: .5 * $base-line-height;
$spacing-l: $base-line-height;

$border-gray: #eee;
$purple: #6F0FFF;
$lightpurple:#a15dff;


// $blue: #6F0FFF;
$hotpink: #FF03A2;
$pink: #F11FFF;

$green: #1CFFC7;
$yellow: #FFF612;